#root {
  margin: auto;
  padding: auto;
  text-align: center;
  overflow: hidden;
}

.mt-10 {
  margin-top: 6rem !important;
}

.text-primary {
  color: #39B549 !important;
}

.text-secondary {
  color: #004B23 !important;
}

.text-terciary {
  color: #c9e9e9 !important;
}

.bg-primary {
  background-color: #39B549 !important;
}

.bg-secondary {
  background-color: #004B23 !important;
}

.bg-terciary {
  background-color: #c9e9e9 !important;
}

.bg-gray {
  background-color: #212529 !important;
}

.bg {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100vw;
  height: 90vh;
  margin-top: 50px;
}

.font-footer {
  font-size: 0.7em;
}

.firstText {
  font-size: 3em;
  font-weight: 700;
  text-align: start;
}

.secondText {
  font-size: 1.3em;
  font-weight: 500;
  text-align: start;
  width: 500px;
}

.blockText {
  font-size: 1em;
  background-color: #004B23;
  color: #c9e9e9;
  width: 320px;
  border-radius: 10px;
  padding: 10px;
}

.blockText2 {
  font-size: 2em;
  background-color: #004B23;
  color: #c9e9e9;
  border-radius: 10px;
  padding: 1px 8px;
}

.financiamento {
  text-decoration-line: underline;
}

.imgSize {
  width: 320px;
}

.topText {
  width: 50%;
}

.img-def {
  width: 100vw;
  height: 100vh;
}

.planta {
  width: 70vw;
}

.bg-2 {
  width: 100vw;
  height: 80vh;
  background:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(./assets/img/3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.bg-3 {
  width: 100vw;
  height: 80vh;
}

.bg-4 {
  width: 100vw;
  height: 90vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.planta-bg {
  width: 100vw;
  height: 90vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.box {
  border-radius: 30px;
  border: 2px solid white;
  padding: 8px;
}

.box-2 {
  border-radius: 30px;
  border: 2px solid #39B549;
  padding: 8px;
}

.img-map {
  width: 60vw;
}

@media only screen and (max-width: 600px) {
  .topText {
    width: 80%;
  }

  .planta {
    width: 100vw;
  }

  .planta-bg {
    width: 100vw;
    height: 50vh;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .firstText {
    text-align: center;
  }
  
  .secondText {
    text-align: center;
    width: 100%;
  }
  
  .blockText {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }

  .text-correction {
    padding-top: 220px;
  }

  .blockText2 {
    font-size: 2em;
  }

  .bg {
    background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: 500vw;
    background-position: center;
    width: 100vw;
    height: 70vh;
    padding-top: 110vw;
    padding-bottom: 110vw;
  }

  .bg-2 {
    width: 100vw;
    height: 70vh;
    padding-top: 70vw;
    padding-bottom: 130vw;
    background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/img/3.jpg);
    background-repeat: no-repeat;
    background-size: 400%;
    background-position: center;
  }

  .bg-3 {
    width: 100vw;
    height: 70vh;
    padding-top: 90vw;
    padding-bottom: 80vw;
  }

  .bg-4 {
    width: 100vw;
    height: 70vh;
    padding-top: 120vw;
    padding-bottom: 120vw;
  }

  .bg-5 {
    width: 100vw;
    height: 70vh;
    padding-top: 90vw;
    padding-bottom: 90vw;
  }

  .imgSize {
    width: 40vw;
  }

  .img-def {
    width: 100vw;
    height: 50vh;
  }

  .img-map {
    width: 100vw;
  }
}