#root {
  margin: auto;
  padding: auto;
  text-align: center;
  overflow: hidden;
}

.mt-10 {
  margin-top: 6rem !important;
}

.text-primary {
  color: #D36119 !important;
}

.text-secondary {
  color: #20314D !important;
}

.text-terciary {
  color: #E2C9BB !important;
}

.bg-primary {
  background-color: #D36119 !important;
}

.bg-secondary {
  background-color: #20314D !important;
}

.bg-terciary {
  background-color: #E2C9BB !important;
}

.bg-gray {
  background-color: #212529 !important;
}

.bg {
  background-image: url(./assets/img/bg.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100vw;
  height: 70vh;
  margin-top: 50px;
}

.imgSize {
  width: 25vw;
}

.topText {
  width: 50%;
}

.img-def {
  width: 100vw;
  height: 100vh;
}


.bg-2 {
  width: 100vw;
  height: 70vh;
}

.bg-3 {
  width: 100vw;
  height: 70vh;
}

.bg-4 {
  width: 100vw;
  height: 100vh;
}

.box {
  border-radius: 30px;
  border: 2px solid #20314D;
  padding: 8px;
}

.box-2 {
  border-radius: 30px;
  border: 2px solid #D36119;
  padding: 8px;
}

@media only screen and (max-width: 600px) {
  .topText {
    width: 80%;
  }

  .bg {
    background-image: url(./assets/img/mobile.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100vw;
    height: 70vh;
    padding-top: 110vw;
    padding-bottom: 110vw;
  }

  .bg-2 {
    width: 100vw;
    height: 70vh;
    padding-top: 70vw;
    padding-bottom: 70vw;
  }

  .bg-3 {
    width: 100vw;
    height: 70vh;
    padding-top: 90vw;
    padding-bottom: 90vw;
  }

  .bg-4 {
    width: 100vw;
    height: 70vh;
    padding-top: 107vw;
    padding-bottom: 100vw;
  }

  .bg-5 {
    width: 100vw;
    height: 70vh;
    padding-top: 90vw;
    padding-bottom: 90vw;
  }

  .imgSize {
    width: 40vw;
  }

  .img-def {
    width: 100vw;
    height: 50vh;
  }
}